@include media-breakpoint-down(sm)
    .navbar
        height: initial
        padding-top: 20px
        padding-bottom: 20px
        .navbar-collapse    
            margin-top: 20px
        .navbar-toggler 
            outline: none
            border: none