@mixin titles($color,$opacity)
    font-size: 40px
    font-weight: bold
    color: $color
    opacity: $opacity

@mixin text-button($color,$opacity)
    font-size: 16px
    font-weight: bold
    color: $color

