@import "hamburgers/_sass/hamburgers/hamburgers"
    
.navbar
    height: 180px
    background: $primary
    box-shadow: 2px 3px 6px #00000059

.navbar-nav
    .nav-link   
        font-weight: bold
        font-size: 14px
        text-transform: uppercase
        letter-spacing: 0
        line-height: 19px
        transition: all 300ms
        .svg-icon   
            fill: #fff
        &:hover,
        &:hover .svg-icon 
            transition: all 300ms
            color: $primary-dark !important
            fill:  $primary-dark !important